{% extends '_base.html' %} {% block content %}

<section class="text-gray-500 body-font">
  <div
    class="container mx-auto flex px-5 py-24 items-center justify-center flex-col"
  >
    <div class="text-center lg:w-2/3 w-full flex flex-col items-center">
      <h1
        class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900"
      >
        Our Blog
      </h1>
      <p class="w-3/4 text-center">
        Writing blog posts about web development can be incredibly beneficial.
        It helps to increase your professional visibility, establish yourself as
        an expert in the field, and even provide valuable insight into trends
        and best practices in web development.
      </p>
      <div class="flex justify-center"></div>
    </div>
  </div>

  <div class="container mx-auto w-3/4 grid md:grid-cols-2 lg:grid-cols-3 gap-6">
    {% for post in posts %}

    <div
      class="max-w-md my-8 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
    >
      <a href="{{ post.get_absolute_url }}">
        <img class="rounded-t-lg" src="http://picsum.photos/720/400" alt="" />
      </a>
      <div class="p-5">
        <div
          class="text-purple-900 my-2 bg-purple-200 font-semibold px-2 text-sm w-1/5 rounded-sm text-center"
        >
          Article
        </div>

        <a href="{{post.get_absolute_url}}">
          <h5
            class="mb-2 text-2xl font-bold text-gray-900 tracking-tight dark:text-white"
          >
            {{ post.title | title }}
          </h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          {{ post.body | truncatewords:20 | linebreaks }}
        </p>



        <div class="mt-5 flex flex-row justify-between ">
          <p class=" text-sm py-2 text-gray-400 ">
            {{ post.author | title }} - {{ post.publish | date:"D d M Y" }}
          </p>

          <span
            class="text-gray-400 mr-3 inline-flex items-center lg:ml-auto md:ml-0 ml-auto leading-none text-sm pr-3 py-1 border-r-2 border-gray-200"
          >
            <svg
              class="w-4 h-4 mr-1"
              stroke="currentColor"
              stroke-width="2"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              viewBox="0 0 24 24"
            >
              <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
              <circle cx="12" cy="12" r="3"></circle></svg
            >1.2K
          </span>
          <span
            class="text-gray-400 inline-flex items-center leading-none text-sm"
          >
            <svg
              class="w-4 h-4 mr-1"
              stroke="currentColor"
              stroke-width="2"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              viewBox="0 0 24 24"
            >
              <path
                d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"
              ></path></svg
            >6
          </span>
        </div>

        <div class="flex items-center flex-wrap">
          <a
            href="{{ post.get_absolute_url}}"
            class="inline-flex items-center px-3 py-2 mt-4 text-sm font-medium text-center text-white bg-gray-900 rounded hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
          >
            Read more
            <svg
              aria-hidden="true"
              class="w-4 h-4 ml-2 -mr-1"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                clip-rule="evenodd"
              ></path>
            </svg>
          </a>
        </div>
      </div>
    </div>

    {% endfor %}
  </div>
</section>
{% include "pagination.html" with page=posts %} {% endblock content %}
