
<div class="flex flex-col items-center mb-32">
  <!-- Help text -->
  <span class="text-sm text-gray-700 dark:text-gray-400">
      Showing <span class="font-semibold text-gray-900 dark:text-white">{{page.start_index}}</span> to <span class="font-semibold text-gray-900 dark:text-white">{{page.end_index}}</span> of <span class="font-semibold text-gray-900 dark:text-white">{{page.paginator.num_pages}}</span> Entries
  </span>
  <!-- Buttons -->
  <div class="inline-flex mt-2 xs:mt-0">
  {% if page.has_previous %}
    
      <a href="?page={{ page.previous_page_number }}" class="px-4 py-2 text-sm font-medium text-white bg-gray-800 rounded-l hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
          Prev
      </a>
   {% else %}
      <div  class="px-4 py-2 text-sm font-medium text-white bg-gray-300 rounded-l dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
          Prev
      </div>
   
      {% endif %}
      {% if page.has_next %}
    
      <a href="?page={{ page.next_page_number }}" class="px-4 py-2 text-sm font-medium text-white bg-gray-800 rounded-r border-0 border-l hover:bg-gray-900 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
          Next
      </a>
   {% else %}
      <div  class="px-4 py-2 text-sm font-medium text-white bg-gray-300 rounded-r dark:bg-gray-800 border-0 border-l dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
          Next
      </div>
   
      {% endif %}
  </div>
</div>